@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto Slab', serif;
}

.Section1 {
    background-color: #1F2937;
}

.Section1 .header {
    display: flex;
}

.Section1 .header .header-left {
    font-size: 24px;
    color: #F9FAF9;
}

.Section1 .header ul {
    display: flex;
    list-style-type: none;
}

.Section1 .header .header-right {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;   
}

.header-right, .header-left {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.Section1 .info {
    display: flex;
    margin: 30px;
}


.info-left, .info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.info-right {
    align-items: center;
}

.info-left {
    margin-left: 350px;
}

.Section1 .info .info-right img {
    margin: 50px;
    margin-right: 150px;
}

.Section1 .info .info-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF9;
}

.Section1 .info .info-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.Section1 .info .info-left button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    justify-content: left;
    border: 1px;
    border-color: #3882F6;
}



.Section2 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.Section2 .four_containers {
    display: flex;
    justify-content: space-around;
}

.image1, .image2, .image3, .image4 {
    border: 2px solid;
    border-color: #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}


.Section3 {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Section3 h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-left: 600px;    
}

.Section3 p {
    font-size: 18px;
    margin-left: 1100px;
    font-weight: bold;
}


.Section4 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section4 .container {
    background-color: #3882F6;
    width: 70%;
    height: 40%;
    display: flex;
}

.Section4 .container .left-info {
    width: 80%;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Section4 .container h4 {
    font-size: 18px;
    color: white;
}

.Section4 .container p {
    color: white;
    font-style: lighter;
}

.Section4 .container .right-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Section4 .container button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

.Footer {
    height: 70px;
    background-color: #1F2937;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
}